Django==1.9.9
Markdown
Pillow
argparse>
django-cors-headers
django-countries
django-filter
django-model-utils
django-shell-plus
django-timezone-field
djangorestframework
easy-thumbnails
ipdb
ipython
pygeoip
pytz
